/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.services-container {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /*background: linear-gradient(to left top, #031A9A, #8B53FF);*/
}




.container{
  max-width: 960px;
  margin:auto;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase{
  background-color:rgba(228, 212, 74, 0.45);
  color: rgb(20, 15, 15);
  height: 100vh;
  position: relative;
  width: 100%;
}

.showcase-inner{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.showcase h1{
    font-size: 4rem;
}

.showcase p{
    font-size: 1.2rem;
    margin-bottom: 35px;
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: rgb(5, 5, 4);
    border-radius: 3px;
    letter-spacing: 1.9px;
    background-color: rgb(235, 248, 45);
    font-weight: 800;
    box-shadow: 0px 0px 7px rgb(207, 194, 120);
    padding: 10px 20px;
    transition: opacity 200ms ease-in, font-size 200ms ease-out;
}

.btn:hover{
    opacity: 0.7;
    font-size: 17px;
}

.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    padding: 1rem;
    width: 60px;
    height: 60px;
    background-color:#072c516c; /*rgba(228, 212, 74, 0.9); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

/*hamburger middle line */

.menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.4s ease;
}
/*Hamburger top and bottom line*/
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after{
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: inherit;
}
/*moves line down*/
.menu-wrap .hamburger > div::after{
    top: 10px;
}

/*toggler animation*/
.menu-wrap .toggler:checked + .hamburger>div{
    transform: rotate(135deg);
}

/*turns line into X */
.menu-wrap .toggler:checked + .hamburger>div::before,
.menu-wrap .toggler:checked + .hamburger>div::after{
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked*/
.menu-wrap .toggler:checked:hover + .hamburger>div{
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu> div{
    transform: scale(1);
    transition-duration: 0.5s;
}

.menu-wrap .toggler:checked ~ .menu> div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    visibility: hidden;
    justify-content: center;
}

.menu-wrap .menu>div{
    background-color: rgba(39, 39, 38, 0.0);
    width: 200vw;
    height: 200vw;
    overflow: hidden;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    flex: none;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div{
    max-width: 90vw;
    max-height: 100vh;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li{
    list-style: none;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a{
    text-decoration: none;
    color: #ffffff;
    transition: color 0.4s ease;
}




ul {
    margin: 0px;
    padding: 0px;
  }

a:focus, a:hover, .portfolio-cat a:hover, .footer -menu li a:hover {
  color: #2bcc5b;
  text-decoration: none;
  
}
.section-title h2 {
position: relative;
margin-bottom: 45px;
display: inline-block;
font-weight: 600;
line-height: 1;
}
.section-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #39a900; /* #ff5e14; */
  bottom: -25px;
  margin-left: -30px;
}
.section-title.service-title p {
margin-bottom: 10px;
}
.blog-area {
  background: #F8F9FA;
  min-height: 100vh;
}
.blog-wrapper {
background: #fff;
overflow: hidden;
padding: 20px;
}
.home-blog-wrapper{
transition: .3s;
}
.blog-wrapper.home-blog-wrapper:hover {
box-shadow: 10px 20px 30px rgba(0,0,0,.12);
}
.blog-thumb {
margin-bottom: 20px;
}
.blog-title {
display: inline-block;
font-size: 30px;
font-weight: 600;
line-height: 1.4;
margin: 10px 0 15px;
padding: 0;
text-align: left;
}
.blog-content.home-blog h2 {
font-size: 18px;
margin-bottom: 10px;
}
.blog-content.home-blog p {
margin-bottom: 10px;
}
.link-box.home-blog-link a {
font-size: 14px;
color: #39a900; /* #ff5e14; */
}
.blog-title a {
color: #222;
}
.link-box a {
color: #555;
}
.link-box a:hover {
color: #ff5e14;
}
.blog-title a:hover {
color: #ff5e14;
}
.meta-info ul li {
color: #9e9e9e;
display: inline-block;
font-size: 11px;
padding: 0 12px;
position: relative;
text-transform: uppercase;
font-weight: 700;
}
.embed-responsive {
margin-bottom: 20px;
}
.meta-info ul li:first-child{padding-left:0}
.meta-info ul li a{color:#ff5e14}
.meta-info ul li a:hover{color:#444}
.meta-info ul li::before {
border: 1px solid #999;
border-radius: 5px;
content: "";
height: 5px;
left: -4px;
position: absolute;
top: 6px;
width: 5px;
}
.meta-info ul li:first-child:before{display:none}
.blog-thumb img {
width: 100%;
}
.link-box a {
font-weight: 600;
}

.nav__link {
  color: #f6f7f9;
  display: block;
  padding: 15px 0;
  text-decoration: none;
  font-size: 21px;
}




.unity {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}






section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}


.nav {
  width: 300px;
}

.nav__link {
  color: #f6f7f9;
  display: block;
  padding: 15px 0;
  text-decoration: none;
  font-size: 21px;
}

.nav__link--inside {
  border-radius: 6px;
  padding-left: 20px;
  text-align: left;
}

.nav__link--inside:hover {
  background: #0dd42e;
}

.logo {
  text-align: center;
  margin-top: -200px;
}

.list {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0;
  /*background: #072c51;*/
}

.list__item {
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: rgba(39, 39, 38, 0.1);
  border-radius: 5%;
}

.list__item--click {
  cursor: pointer;
}

.list__button {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

.arrow .list__arrow {
  transform: rotate(90deg);
}

.list__arrow {
  margin-left: auto;
  transition: transform .3s;
}

.box {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.box video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffffff;
}

.flip-card {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 350px;
  margin: 70px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}




.box {
  position: relative;
  display: contents;
}

.conta {
  flex: 1;
  text-align: center;
  margin-left: 7%;
}

.mapa-container {
  margin-bottom: 1rem;
}

.mapa {
  width: 400px;
  height: 500px;
  border: 0;
}

.redes-sociales,
.sen {
  list-style-type: none;
  padding: 0;
}

.redes-sociales li,
.sen li {
  margin-bottom: 0.5rem;
}

.redes-sociales a,
.sen a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.redes-sociales img,
.sen img {
  width: 25px;
  height: 20px;
  margin-right: 0.5rem;
}










/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /*background: linear-gradient(to left top, #031A9A, #8B53FF);*/
}
.wrapper {
  max-width: 1770px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  /*grid-auto-columns: calc((100% / 3) - 12px);*/
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  /*height: 342px;*/
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}



.flip-card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0,0,0,.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
} 

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}



/*
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
*/
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/*********************************************/
/*********************************************/

